<!DOCTYPE HTML>
<html>
        <head>
                <meta charset="UTF-8">
                <style type="text/css">
                        p {
                            font-family: Verdana, Arial, Helvetica, sans-serif;
                            font-size: 50pt;
                           }
                </style>
        <title>today celebrate</title>
        </head>
        <body>
        <p style="text-align:center">
            Сегодня {{ today }}!
        </p>
        </body>
</html>